<h1 class="tds-headline-02">Spinner</h1>
<h2 class="tds-headline-03">Standard</h2>
<tds-spinner variant="standard"></tds-spinner>
<h2 class="tds-headline-03">Inverted</h2>
<tds-spinner variant="inverted"></tds-spinner>
<div class="tds-u-mt2">
  <tds-message variant="information" header="Why no spinner?" mode-variant="inherit from parent">
    <div>You might not believe it, but there is a spinner inverted up there. Try toggling the mode or the variant to see
      it in its full glory.</div>
  </tds-message>
</div>