<div class="p-2">
  <div class="h-2"></div>

  <table>
    <thead>
      @for (headerGroup of table.getHeaderGroups(); track headerGroup.id) {
      <tr>
        @for (header of headerGroup.headers; track header.id) {
        <th [attr.colSpan]="header.colSpan">
          @if (!header.isPlaceholder) {
          <div
            [ngClass]="{
                    'cursor-pointer select-none': header.column.getCanSort(),
                  }"
          >
            <ng-container
              *flexRender="
                header.column.columnDef.header;
                props: header.getContext();
                let headerCell
              "
            >
              {{ headerCell }}
            </ng-container>
          </div>

          @if (header.column.getCanFilter()) {
          <div>
            <app-table-filter [column]="header.column" [table]="table" />
          </div>
          } }
        </th>
        }
      </tr>
      }
    </thead>
    <tbody>
      @for (row of table.getRowModel().rows; track row.id) {
      <tr>
        @for (cell of row.getVisibleCells(); track cell.id) {
        <td>
          <ng-container
            *flexRender="
              cell.column.columnDef.cell;
              props: cell.getContext();
              let renderCell
            "
          >
            {{ renderCell }}
          </ng-container>
        </td>
        }
      </tr>
      }
    </tbody>
  </table>

  <ng-template #ageHeaderCell let-context>
    <span>Age 🥳</span>
  </ng-template>
</div>
