<h3>Tabs with buttons</h3>
<p>These tabs are using buttons and can be used to show/hide content.</p>
<div class="tds-u-pb3 tabs">
  <tds-folder-tabs mode-variant="secondary" (tdsChange)="onFolderTabChange($event)">
    <tds-folder-tab>
      <button role="tab" aria-controls="first-folder-tab">First tab</button>
    </tds-folder-tab>
    <tds-folder-tab>
      <button role="tab" aria-controls="second-folder-tab">Second tab is much longer</button>
    </tds-folder-tab>
    <tds-folder-tab>
      <button role="tab" aria-controls="third-folder-tab">Third tab</button>
    </tds-folder-tab>
    <tds-folder-tab disabled>
      <button role="tab" aria-controls="fourth-folder-tab" disabled>Fourth tab</button>
    </tds-folder-tab>
  </tds-folder-tabs>
  <app-tabs-subpage [pathIndex]="folderTabIndex" />
</div>
<div class="tds-u-pb3 tabs">
  <tds-inline-tabs mode-variant="secondary" (tdsChange)="onInlineTabChange($event)">
    <tds-inline-tab>
      <button role="tab" aria-controls="first-inline-tab">First tab</button>
    </tds-inline-tab>
    <tds-inline-tab>
      <button role="tab" aria-controls="second-inline-tab">Second tab is much longer</button>
    </tds-inline-tab>
    <tds-inline-tab>
      <button role="tab" aria-controls="third-inline-tab">Third tab</button>
    </tds-inline-tab>
    <tds-inline-tab disabled>
      <button role="tab" aria-controls="fourth-inline-tab" disabled>Fourth tab</button>
    </tds-inline-tab>
  </tds-inline-tabs>
  <app-tabs-subpage [pathIndex]="inlineTabIndex" />
</div>
<div class="tds-u-pb3 tabs">
  <tds-navigation-tabs mode-variant="secondary" (tdsChange)="onNavigationTabChange($event)">
    <tds-navigation-tab>
      <button role="tab" aria-controls="first-navigation-tab">First tab</button>
    </tds-navigation-tab>
    <tds-navigation-tab>
      <button role="tab" aria-controls="second-navigation-tab">Second tab is much longer</button>
    </tds-navigation-tab>
    <tds-navigation-tab>
      <button role="tab" aria-controls="third-navigation-tab">Third tab</button>
    </tds-navigation-tab>
    <tds-navigation-tab disabled>
      <button role="tab" aria-controls="fourth-navigation-tab" disabled>Fourth tab</button>
    </tds-navigation-tab>
  </tds-navigation-tabs>
  <app-tabs-subpage [pathIndex]="navigationTabIndex" />
</div>