<div>
  <h1 class="tds-headline-02">Radio Button</h1>
  <form (submit)="onSubmit($event)" #formRef class="tds-u-flex tds-u-flex-dir-col tds-u-flex-gap2">
    @for (fieldset of processedData; track fieldset) {
      <fieldset [attr.key]="fieldset.name" class="tds-u-pb2">
        <legend class="tds-headline-05 tds-u-pb1">{{ fieldset.title }}</legend>
        @for (field of fieldset.fields; track field) {
          <tds-radio-button [name]="fieldset.name" [value]="field.name" [radioId]="field.id"
            [required]="fieldset.required" [disabled]="isFieldDisabled(field)" [checked]="isFieldPreselected(field)">
            <span slot="label">
              {{ field.name }}
              @if (isFieldDisabled(field)) {
                (out of stock!)
              }
            </span>
          </tds-radio-button>
        }
      </fieldset>
    }
    <tds-button text="Place order" type="submit"></tds-button>
    @if (submittedData) {
      <p class="tds-headline-03">Thank you for your order.</p>
      <pre>
        Reciept:
        @for (dish of submittedData; track dish; let idx = $index) {
          {{ dish }}: {{ (idx + 1) * 10000 }} SEK
        }
      </pre>
    }
  </form>
</div>