<div class="brand-wrapper {{ brand }}">
  <div class="mode-wrapper {{ mode }}">
    <div class="mode-variant-wrapper {{ modeVariant }}">
      <tds-banner variant="information" icon="info" header="Angular demo">
        <div slot="subheader">
          This is a demo page in Angular using
          <tds-link>
            <a href="https://www.npmjs.com/package/@scania/tegel-angular-17" target="_blank">
              &#64;scania/tegel-angular-17
            </a>
          </tds-link>
          <br />
          You can find the source code in this
          <tds-link>
            <a href="https://github.com/scania-digital-design-system/tegel-angular-17-demo" target="_blank"
              rel="noopener noreferrer">
              Github repository
            </a>
          </tds-link>
        </div>
      </tds-banner>

      <tds-header>
        <tds-header-hamburger id="demo-hamburger" aria-label="Open application drawer" aria-haspopup="true"
          aria-expanded="false" (click)="toggleMobileSideMenu()"></tds-header-hamburger>

        <tds-header-title>{{ title }} </tds-header-title>

        <tds-header-dropdown slot="end" no-dropdown-icon class="user-dropdown">
          <div slot="icon">
            <img src="https://www.svgrepo.com/show/384676/account-avatar-profile-user-6.svg" alt="User menu." />
            <tds-badge size="sm"></tds-badge>
          </div>
          <tds-header-dropdown-list size="lg">
            <tds-header-dropdown-list-user header="{{ userName }}"
              subheader="{{ placeOfWork }}"></tds-header-dropdown-list-user>
            <tds-header-dropdown-list-item>
              <a routerLink="settings">
                <tds-icon name="settings"></tds-icon>
                <div class="tds-u-pl1">Settings</div>
              </a>
            </tds-header-dropdown-list-item>
            <tds-header-dropdown-list-item>
              <a routerLink="notifications">
                <tds-badge *ngIf="notifications.length" [value]="notifications.length"></tds-badge>
                <div class="tds-u-pl1">Notifications</div>
              </a>
            </tds-header-dropdown-list-item>
          </tds-header-dropdown-list>
        </tds-header-dropdown>

        <tds-header-brand-symbol slot="end">
          <a routerLink="/" aria-label="Scania - red gryphon on blue shield"></a>
        </tds-header-brand-symbol>
      </tds-header>
      <div class="side-menu-and-main">
        <tds-side-menu aria-label="Side menu" persistent open="{{ mobileNavOpen }}">
          <tds-side-menu-overlay (click)="toggleMobileSideMenu()" slot="overlay"></tds-side-menu-overlay>

          <tds-side-menu-close-button slot="close-button" (click)="toggleMobileSideMenu()"></tds-side-menu-close-button>

          <tds-side-menu-item [selected]="isActive('/about')">
            <a routerLink="/about" (click)="toggleMobileSideMenu()">
              <tds-icon name="info" size="24"></tds-icon>
              About us
            </a>
          </tds-side-menu-item>

          <tds-side-menu-dropdown [selected]="
              isActive('/table') ||
              onSubRoute('/tanstack') ||
              onSubRoute('/ag-grid')
            ">
            <tds-icon slot="icon" name="document_tool" size="24"></tds-icon>
            <span slot="label">Tables</span>
            <tds-side-menu-dropdown-list>
              <tds-side-menu-dropdown-list-item [selected]="isActive('/table')">
                <a routerLink="/table">Tegel Table</a>
              </tds-side-menu-dropdown-list-item>

              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/ag-grid')">
                <a routerLink="ag-grid">Tegel + AG-Grid</a>
              </tds-side-menu-dropdown-list-item>

              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/tanstack')">
                <a routerLink="tanstack">Tegel + Tanstack</a>
              </tds-side-menu-dropdown-list-item>
            </tds-side-menu-dropdown-list>
          </tds-side-menu-dropdown>

          <tds-side-menu-dropdown [selected]="onSubRoute('/web-components')">
            <tds-icon slot="icon" name="tool" size="24"></tds-icon>
            <span slot="label">Components</span>
            <tds-side-menu-dropdown-list>
              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/accordion')">
                <a routerLink="web-components/accordion">Accordion</a>
              </tds-side-menu-dropdown-list-item>

              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/badge')">
                <a routerLink="web-components/badge">Badge</a>
              </tds-side-menu-dropdown-list-item>
              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/banner')">
                <a routerLink="web-components/banner">Banner</a>
              </tds-side-menu-dropdown-list-item>
              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/block')">
                <a routerLink="web-components/block">Block</a>
              </tds-side-menu-dropdown-list-item>
              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/breadcrumbs')">
                <a routerLink="web-components/breadcrumbs">Breadcrumbs</a>
              </tds-side-menu-dropdown-list-item>
              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/button')">
                <a routerLink="web-components/button">Button</a>
              </tds-side-menu-dropdown-list-item>

              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/card')">
                <a routerLink="web-components/card">Card</a>
              </tds-side-menu-dropdown-list-item>
              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/checkbox')">
                <a routerLink="web-components/checkbox">Checkbox</a>
              </tds-side-menu-dropdown-list-item>
              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/chip')">
                <a routerLink="web-components/chip">Chip</a>
              </tds-side-menu-dropdown-list-item>

              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/datetime')">
                <a routerLink="web-components/datetime">Datetime</a>
              </tds-side-menu-dropdown-list-item>
              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/divider')">
                <a routerLink="web-components/divider">Divider</a>
              </tds-side-menu-dropdown-list-item>
              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/dropdown')">
                <a routerLink="web-components/dropdown">Dropdown</a>
              </tds-side-menu-dropdown-list-item>

              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/link')">
                <a routerLink="web-components/link">Link</a>
              </tds-side-menu-dropdown-list-item>

              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/message')">
                <a routerLink="web-components/message">Message</a>
              </tds-side-menu-dropdown-list-item>
              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/modal')">
                <a routerLink="web-components/modal">Modal</a>
              </tds-side-menu-dropdown-list-item>

              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/popover-canvas')">
                <a routerLink="web-components/popover-canvas">Popover canvas</a>
              </tds-side-menu-dropdown-list-item>
              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/popover-menu')">
                <a routerLink="web-components/popover-menu">Popover menu</a>
              </tds-side-menu-dropdown-list-item>

              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/radio-button')">
                <a routerLink="web-components/radio-button">Radio button</a>
              </tds-side-menu-dropdown-list-item>

              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/spinner')">
                <a routerLink="web-components/spinner">Spinner</a>
              </tds-side-menu-dropdown-list-item>
              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/stepper')">
                <a routerLink="web-components/stepper">Stepper</a>
              </tds-side-menu-dropdown-list-item>

              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/tabs')">
                <a routerLink="web-components/tabs">Tabs</a>
              </tds-side-menu-dropdown-list-item>
              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/tag')">
                <a routerLink="web-components/tag">Tag</a>
              </tds-side-menu-dropdown-list-item>
              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/text-field')">
                <a routerLink="web-components/text-field">Text field</a>
              </tds-side-menu-dropdown-list-item>
              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/textarea')">
                <a routerLink="web-components/textarea">Textarea</a>
              </tds-side-menu-dropdown-list-item>
              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/toast')">
                <a routerLink="web-components/toast">Toast</a>
              </tds-side-menu-dropdown-list-item>
              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/toggle')">
                <a routerLink="web-components/toggle">Toggle</a>
              </tds-side-menu-dropdown-list-item>
              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/tooltip')">
                <a routerLink="web-components/tooltip">Tooltip</a>
              </tds-side-menu-dropdown-list-item>


            </tds-side-menu-dropdown-list>
          </tds-side-menu-dropdown>

          <tds-side-menu-item [selected]="isActive('/form')">
            <a routerLink="/form" (click)="toggleMobileSideMenu()">
              <tds-icon name="edit" size="24"></tds-icon>
              Form
            </a>
          </tds-side-menu-item>

          <tds-side-menu-dropdown [selected]="isActive('/tabs-buttons') || onSubRoute('/tabs-links')">
            <tds-icon slot="icon" name="folder" size="24"></tds-icon>
            <span slot="label">Tabs</span>
            <tds-side-menu-dropdown-list>
              <tds-side-menu-dropdown-list-item [selected]="isActive('/tabs-buttons')">
                <a routerLink="/tabs-buttons">Button</a>
              </tds-side-menu-dropdown-list-item>
              <tds-side-menu-dropdown-list-item [selected]="onSubRoute('/tabs-links')">
                <a routerLink="tabs-links">Link</a>
              </tds-side-menu-dropdown-list-item>
            </tds-side-menu-dropdown-list>
          </tds-side-menu-dropdown>

          <tds-side-menu-item [selected]="isActive('/text')">
            <a routerLink="/text" (click)="toggleMobileSideMenu()">
              <tds-icon name="document" size="24"></tds-icon>
              Text
            </a>
          </tds-side-menu-item>

          <tds-side-menu-dropdown slot="end">
            <tds-side-menu-user-image slot="icon"
              src="https://www.svgrepo.com/show/384676/account-avatar-profile-user-6.svg"
              alt="cenas"></tds-side-menu-user-image>
            <tds-side-menu-user-label slot="label" heading="{{ userName }}"
              subheading="{{ placeOfWork }}"></tds-side-menu-user-label>
            <tds-side-menu-dropdown-list>
              <tds-side-menu-dropdown-list-item>
                <a routerLink="settings">
                  <tds-icon name="settings"></tds-icon>
                  <div class="tds-u-pl1">Settings</div>
                </a>
              </tds-side-menu-dropdown-list-item>
              <tds-side-menu-dropdown-list-item>
                <a routerLink="notifications">
                  <tds-badge *ngIf="notifications.length" [value]="notifications.length"></tds-badge>
                  <div class="tds-u-pl1">Notifications</div>
                </a>
              </tds-side-menu-dropdown-list-item>
            </tds-side-menu-dropdown-list>
          </tds-side-menu-dropdown>

          <tds-side-menu-collapse-button slot="sticky-end"></tds-side-menu-collapse-button>
        </tds-side-menu>
        <main class="tds-u-w-100">
          <div class="tds-u-h-100">
            <div class="switcher-container" *ngIf="!is404page">
              <h4 style="margin: 0">Theme Controls</h4>
              <app-brand-switcher (handleBrandChange)="selectBrand($event)"></app-brand-switcher>
              <app-mode-switcher (modeToggle)="handleModeToggle()"></app-mode-switcher>
              <app-mode-variant-switcher (modeVariantToggle)="handleModeVariantToggle()"></app-mode-variant-switcher>
            </div>
            <div class="tds-u-h-100 tds-u-flex tds-u-flex-dir-col">
              <nav-breadcrumbs *ngIf="!is404page"></nav-breadcrumbs>

              <div [ngClass]="
                  is404page
                    ? 'tds-u-h-100'
                    : 'main-container tds-u-pl3 tds-u-pr3 tds-u-pb3 tds-u-relative'
              ">
                <router-outlet></router-outlet>
              </div>
              <app-footer></app-footer>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>